html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .btn-link {
    color: inherit; /* or any specific color you have for other nav links */
    text-decoration: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

    .navbar-nav .btn-link:hover, .navbar-nav .btn-link:focus {
        color: inherit; /* Adjust hover color as needed */
        text-decoration: underline;
    }
